*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#accordion :is(ul, label + input) {
  display: none;
}

#accordion input:checked + ul {
  display: flex;
  list-style: none;
  gap: 1em;
}

#accordion > li:has(input:not(:checked)) {
  border-bottom: 1px solid red;
}

#accordion > li:has(input:checked) span {
  color: green;
}
