*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

main > * {
  height: 3em;
  background-color: transparent;
  color: red;
  border: 1px solid grey;
}

.colors {
  color: hsl(218, 31%, 30%); /* #344563 */
  color: hsl(218, 76%, 15%); /* #091e42 */
  color: hsl(218, 20%, 39%); /* #505F79 */
  color: hsl(218, 13%, 48%); /* #6a768a */
  color: hsl(234, 100%, 69%); /* #6079ff */
  color: hsl(234, 100%, 75%); /* #808cff*/
  color: hsl(240, 100%, 96%); /* #808cff*/
}

#r1 { background-color: hsl(218 31% 30% / 1); }

#r2 { background-color: hsl(218 76% 15% / 1); }

#r3 { background-color: hsl(218 20% 39% / 1); }

#r4 { background-color: hsl(218, 13%, 48%); }

#r5 { background-color: hsl(234, 100%, 69%); }

#r6 { background-color: hsl(234, 100%, 75%); }

#r7 { background-color: hsl(234, 100%, 96%); }

#r1s1 { background-color: hsl(234 13% 30% / 1); }

#r2s1 { background-color: hsl(234 13% 15% / 1); }

#r3s1 { background-color: hsl(234 13% 39% / 1); }

#r4s1 { background-color: hsl(234 13% 48%); }

#r7s1 { background-color: hsl(234, 100%, 96%); }
