*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid red;
}

#list-manager {
  display: grid;
  align-items: center;
  gap: 1rem;
  min-width: 250px;
  width: 80%;
  max-width: 600px;
  justify-self: center;
  align-self: center;
  padding: 1rem 0;
}

[type='text']:read-only ~ [data-action="update"],
[type='text'] + [data-action="edit"] {
  display: none;
}

[type='text']:read-only + [data-action="edit"],
[type='text'] ~ [data-action="update"] {
  display: inline-block;
}

/* hr {
  border: 1px solid blue;  
} */

form {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 32px;
  gap: 0.25em;
  padding: 0.25em 0.5em;
}

#item-list {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 0.25em; */
  border: 1px solid blue;
  border-radius: 5px;
}

#item-list > li {
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: 2rem 1fr repeat(2, 2rem);
  gap: 0.25em;
  height: 3rem;
  border: 1px solid blue;
  /* width: 100%; */
  /* border-radius: 5px; */
}

:is(li, form) * {
  display: flex;
  padding: 0.2rem;
  height: 1.8rem;
  font-size: 1.2rem;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

[type="submit"] {
  background-image: url("./assets/add.png");
  width: 32px;
  height: 32px;
}

[data-action="edit"] {
  background-image: url("./assets/edit.png");
}

[data-action="update"] {
  background-image: url("./assets/save.png");
}

[data-action="remove"] {
  background-image: url("./assets/garbage.png");
}
